{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Modification d'une voiture {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')}}" />#}
{#{% endblock %}#}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Modification du la voiture</div>
    <div>
        <a href="{{ path('voiture_informations', {'id' : typeVoiture.id}) }}">
            <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
        </a>
    </div><br>

        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        {{ form_row(edit_form.marque) }}
        {{ form_row(edit_form.modele) }}
        {{ form_row(edit_form.immatricule) }}
        {{ form_row(edit_form.chauffeur) }}
        {{ form_row(edit_form.motoboy) }}
        <div class="fileUpload">
            <div class="icondelete">
                <div class="removeFile" style="display: none">
                    <i style="cursor: pointer;margin: 2%" title="Supprimer" class="delete fa fa-trash-o fa-4x"></i>
                    <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'cartegriseFile') }}" style="margin: 2%">
                        <i title="Voir" class="fa fa-eye fa-4x"></i>
                    </a>
                </div>
                <div class="upload">
                    <i class="fa fa-upload fa-5x"></i><br>
                    <span>CARTE GRISE</span>
                </div>
            </div>
        </div>
        <div class="fileType">
            {{ form_row(edit_form.cartegriseFile) }}
        </div>
        {#{{ form_row(edit_form.cartegriseFile) }}#}

        <select style="display: none" id="janettransit_adminbundle_voiture_typeVoiture" name="janettransit_adminbundle_voiture[typeVoiture]" class="form-control">
            <option value="{{ typeVoiture.id }}"></option>
        </select>

        {{ form_widget(edit_form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register registerPoste'}})}}
        {{ form_end(edit_form) }}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')}}"></script>
    <script>
        {#{% if success == 'true' %}#}
        {#common().notice('Enregistrement avec succès','ok');#}
        {#{% endif %}#}
        common().initPopover();
        common().dataTable(0);
        $('.multiselectOne').multiselect({
            enableFiltering : true,
            nonSelectedText : 'Aucun Choix',
        });
        $("form").validate();
        common().validation();
        $(".file").rules("add", { filesize: 2 });

        $("form .btn-group").css({'width' : '90%', 'margin-left' : '5%','margin-bottom': '2%'});
        $("input[type='hidden']").prev().remove();

        var     fileUpload = $('.fileUpload'),
                fileType   = $('.fileType');

        {% if entity.cartegriseFileName is not null %}
            fileUpload.show();
            fileType.hide();
        {% else %}
            fileUpload.hide();
            fileType.show();
        {% endif %}
        common().fileShow();
    </script>
{% endblock %}
