{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Wiki{% endblock%}
{% block body %}
    <div class="page-header" style="border-bottom: 2px solid black;">
        <h1>Wiki de Janet Transit <small>Bienvenue au wikipédia, ici vous trouverez toutes les informations
                relatives à l'utilisation de l'application</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12" id="wikiTitle">
            <h2>{{ infos }}</h2>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <a href="{{ path('janet_transit_wiki_articles', {'id' : category.id}) }}">
                        <span class="{{ category.spanClass }}">
                            <i class="{{ category.iClass }}"></i>
                        </span>
                    </a>
                    <div class="text-box">
                        <p class="main-text">{{ category.articles|length }}</p>
                        <p class="text-muted">{{  category.name|upper }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scrollTop %}{{ parent() }}{% endblock %}

