{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Modification de la periode de comptabilité {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />
{% endblock %}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Modification de la période {{ entity.periode }}</div>
    <div>
        <a href="{{ path('comptabilite_informations') }}">
            <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
        </a>
        {% if entity.del == 0 %}
            <a style="color: red; cursor: pointer; float: right" tabindex="0"  role="button" data-toggle="popover" data-placement="left" data-route="comptabilite_delete">
                <i  title="Supprimer"  class="fa fa-trash-o fa-3x"></i>
            </a>
            {#Popover Content Delete#}
            {% include '::common/delete.html.twig' %}
        {% else %}
            <a href="{{ path('comptabilite_delete', {'id' : entity.id, 'del' : 0}) }}">
                <i title="Activer" style="color: forestgreen; cursor: pointer; float: right" class="fa fa-check fa-3x"></i>
            </a>
        {% endif %}
    </div><br>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_label(edit_form.periode) }}
    <div class="form-group">
        <div class='input-group date periodepicker' id="checkDate" data-employe="5">
            {{ form_widget(edit_form.periode) }}
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
        <span class="error_date" style="display: none; color: red">Cette période existe déja</span>
    </div>

    {{ form_widget(edit_form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register registerPoste'}})}}

    {{ form_end(edit_form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="{{ asset('js/lib/common.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script>
        common().periode();
        common().initPopover();
        $("form").validate();
        common().validation();
    </script>

{% endblock %}