{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste Carburations {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')}}" />
{% endblock %}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Carburations du {{ periode.dateCarburation }}</div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('periodecarburation_informations') }}">
                <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
            </a>
            <i class="fa fa-plus-square fa-3x" data-toggle="modal"
               data-target="#modalForm" title="Ajouter" style="color:#0FAD8C;cursor: pointer;margin-left: 3%"></i>
        </div>
        <div class="col-md-6">
            <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', 'Liste des Carburations du {{ periode.dateCarburation }}')" style="float: right; cursor: pointer; margin-right: 2%"></i>
        </div>
    </div><br />

    <div class="result" data-route="employe_search">
        {% if entities is not empty %}
            <table class=" table table-hover dataTable table-bordered print">
                    <thead>
                    <tr>
                        <th style="text-align: center">Employe</th>
                        <th style="text-align: center; width: 50%;">Motifs</th>
                        <th style="text-align: center">Montant</th>
                        <th style="text-align: center">Statut</th>
                        <th style="text-align: center">Justificatifs</th>
                        <th class="noprint" style="text-align: center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr {% if entity.del == 1 %} class="danger" {% endif %}>
                            <td style="text-align: center">{{ entity.employe }}</td>
                            <td style="text-align: center;width: 50%">{{ entity.motif }}</td>
                            <td style="text-align: center">{{ entity.montant }} FCFA</td>
                            <td style="text-align: center">
                                {% if entity.valid == 1 %}
                                    <button type="button" class="btn btn-danger">
                                        <a style="color:white" href="{{ path('carburation_valid', {'id' : entity.id, 'valid' : 0, 'idPeriode' : periode.id}) }}">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Non Payé
                                        </a>
                                    </button>
                                    <span style="display: none">pas</span>
                                {% else %}
                                    <button type="button" class="btn btn-success">
                                        <a style="color:white" href="{{ path('carburation_valid', {'id' : entity.id, 'valid' : 1, 'idPeriode' : periode.id}) }}">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Payé
                                        </a>
                                    </button>
                                    <span style="display: none">ok</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if not entity.carburationFileName %}
                                    <span class="label label-danger">Non renseigné</span>
                                {% else %}
                                    <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'carburationFile') }}">
                                        <i style="color: darkred;" class="fa fa-file-text fa-2x"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td class="noprint" style="text-align: center">
                                <a href="{{ path('carburation_edit', {'id' : entity.id, 'idPeriode' : periode.id}) }}">
                                    <i title="Modifier" style="color: orange; cursor: pointer; margin-right: 2%" class="fa fa-pencil fa-2x"></i>
                                </a>
                                {% if entity.del == 0 %}
                                    <a style="color: red; cursor: pointer;margin-left: 10%" tabindex="0"  role="button" data-toggle="popover" data-placement="left" data-route="carburation_delete">
                                        <i  title="Supprimer"  class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                    {#Popover Content Delete#}
                                    {% include '::common/delete.html.twig' %}
                                {% else %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="{{ path('carburation_delete', {'id' : entity.id, 'del' : 0}) }}">
                                            <i title="Activer" style="color: forestgreen; cursor: pointer; margin-left: 10%" class="fa fa-check fa-2x"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-ban fa-5x"></i><br>
                Aucune Carburation
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enregistrement d'une carburation</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_errors(form) }}

                    {{ form_row(form.employe) }}
                    {{ form_row(form.motif) }}
                    {{ form_row(form.montant) }}
                    {{ form_row(form.carburationFile) }}
                    <select style="display: none" id="janettransit_adminbundle_carburation_periodeCarburation" name="janettransit_adminbundle_carburation[periodeCarburation]" class="form-control">
                        <option value="{{ periode.id }}"></option>
                    </select>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        {{ form_widget(form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register'}})}}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')}}"></script>
    <script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script>
        {% if success == 'true' %}
        common().notice('Enregistrement avec succès','ok');
        {% endif %}
        common().dataTable(0);
        common().initPopover();
        $('.multiselect').multiselect({
            enableFiltering: true,
            nonSelectedText: 'Aucun Choix'
        });
        $(".modal-body .btn-group").css({'width' : '80%', 'margin-left' : '5%','margin-bottom': '2%'});
        $("form").validate();
        common().validation();
        $(".file").rules("add", { filesize: 2 });
        $("input[type='hidden']").prev().remove();
    </script>
{% endblock %}
