{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Types de Stocks {% endblock %}


{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Types de Stocks</div>

    <div class="result" data-route="contratets_search">
        {% if entities is not empty %}
            {% for entity in entities %}
                <div class="col-md-4">
                    <div class="panel panel-back noti-box">
                        <a href="{{ path('stock_show', {'id' : entity.id}) }}">
                            <span class="icon-box set-icon bg-color-dark">
                                <i class="fa {{ entity.faClass }}"></i>
                            </span>
                        </a>
                        <div class="text-box">
                            <p style="font-size: 15px" class="main-text">{{ entity.nom|upper }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-archive fa-5x"></i><br>
                Aucun Type de Stock
            </div>
        {% endif %}
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
{% endblock %}
