{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Contrat de {{ entity.employe.nom }} {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />#}
{#{% endblock %}#}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">{{ 'employe.contrat.print'|trans({'%typeContrat%' : entity.typeContrat, '%employe%' : entity.employe  }, 'employe') }} <br>
    </div>
    <a href="{{ path('contrat_show', {id : idEmploye}) }}">
        <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
    </a>
    <i title="Ajouter un justificatif" style="color: orange; float: right; cursor: pointer; margin-right: 2%" class="fa fa-pencil fa-3x" data-toggle="modal"
       data-target="#modaleditForm"></i>
    <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', '')" style="float: right; cursor: pointer; margin-right: 2%"></i>
    <div class="print">
        <h3 style="float: right; margin-right: 5%">Douala, le <b>{{ "now"|date("d/m/Y") }}</b></h3><br><br><br><br>
        <h3><b style="text-decoration: underline;margin-left: 5%">{{ 'objet'|trans({}, 'array')}}:</b> {{ 'contrat'|trans({}, 'array')}} {{ entity.typeContrat }}</h3>
        <table class="table table-hover table-bordered" id="tabAvance" style="width: 70%;margin-left: auto;margin-right: auto;font-size: 25px;margin-top: 7%">
            <tbody>
            <tr>
                <th>{{ 'employe'|trans({}, 'array')}}</th>
                <td>{{ entity.employe}}</td>
            </tr>
            <tr>
                <th>{{ 'service'|trans({}, 'array')}}</th>
                <td>{{ entity.employe.services}}</td>
            </tr>
            <tr>
                <th>{{ 'poste'|trans({}, 'array')}}</th>
                <td>{{ entity.employe.poste}}</td>
            </tr>
            <tr>
                <th>{{ 'type_contrat'|trans({}, 'array')}}</th>
                <td>{{ entity.typeContrat}}</td>
            </tr>
            <tr>
                <th>{{ 'duree_hebdo'|trans({}, 'array')}}</th>
                <td>{{ entity.duree}} Jour(s)</td>
            </tr>
            <tr>
                <th>{{ 'date_debut'|trans({}, 'array')}}</th>
                <td>{{ entity.dateDebut}}</td>
            </tr>
            <tr>
                <th>{{ 'datefin'|trans({}, 'array')}}</th>
                <td>{{ entity.dateFin}}</td>
            </tr>
            </tbody>
        </table>
        <div class="row" style="margin-top : 10%; font-size: 20px">
            <div class="col-md-6">
                <b>{{ 'sign_salarie'|trans({}, 'array')}}</b>
            </div>
            <div class="col-md-6" style="float:right;text-align: right;">
                <b>{{ 'direction'|trans({}, 'array')}}</b>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modaleditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajout du justificatif <b>{{ entity.employe }}</b></h4>
                </div>
                {{ form_start(edit_form) }}
                <div class="modal-body">
                    {{ form_errors(edit_form) }}
                    {{ form_row(edit_form.typeContrat) }}
                    {{ form_row(edit_form.duree) }}
                    {{ form_label(edit_form.dateDebut) }}
                    <div class="form-group">
                        <div class='input-group date datetimepicker' id="checkDate" data-employe="{{ idEmploye}}">
                            {{ form_widget(edit_form.dateDebut) }}
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <span class="error_date" style="display: none; color: red">Cette date existe déja pour cet employé</span>
                    </div>
                    {{ form_label(edit_form.dateFin) }}
                    <div class="form-group">
                        <div class='input-group date datetimepicker'>
                            {{ form_widget(edit_form.dateFin) }}
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <span class="error_date" style="display: none; color: red">Cette date existe déja pour cet employé</span>
                    </div>
                    <div class="fileUpload">
                        <div class="icondelete">
                            <div class="removeFile" style="display: none">
                                <i style="cursor: pointer;margin: 5%" title="Supprimer" class="delete fa fa-trash-o fa-5x"></i>
                                <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'contratFile') }}" style="margin: 5%">
                                    <i title="Voir" class="fa fa-eye fa-4x"></i>
                                </a>
                            </div>
                            <div class="upload">
                                <i class="fa fa-upload fa-5x"></i><br>
                                <span>JUSTIFICATIF</span>
                            </div>
                        </div>
                    </div>
                    <div class="fileType">
                        {{ form_row(edit_form.contratFile) }}
                    </div>
                    {#{{ form_row(edit_form.contratFile) }}#}
                    <select style="display: none" id="janettransit_adminbundle_contrat_employe" name="janettransit_adminbundle_contrat[employe]" class="form-control">
                        <option value="{{ idEmploye }}"></option>
                    </select>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        {{ form_widget(edit_form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register'}})}}
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{ asset('js/lib/common.js')}}"></script>
    <script>
        {% if success == 'true' %}
        common().notice('Ajout du justificatif avec succès','ok');
        {% endif %}
        common().date();
        $("form").validate();
        common().validation();
        $(".file").rules("add", { filesize: 2 });
        $("input[type='hidden']").prev().remove();

        var     fileUpload = $('.fileUpload'),
                fileType   = $('.fileType');
        {% if entity.contratFileName is not null %}
            fileUpload.show();
            fileType.hide();
        {% else %}
            fileUpload.hide();
            fileType.show();
        {% endif %}
        common().fileShow();
    </script>
{% endblock %}
