{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Modification TAF {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />#}
{#{% endblock %}#}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Modification du TAF</div>
    <div>
        <a href="{{ path('taf_informations') }}">
            <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
        </a>
    </div><br>
<div style="width: 50%;margin-left: auto;margin-right: auto;margin-top: 5%;">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_label(edit_form.dateTache) }}
    <div class="form-group">
        <div class='input-group date datetimepicker' id="checkDate" data-employe="">
            {{ form_widget(edit_form.dateTache) }}
            <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
        </div>
        <span class="error_date" style="display: none; color: red">Cette date existe déja pour les Taches</span>
    </div>

    {{ form_row(edit_form.description) }}

    {{ form_widget(edit_form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register registerPoste'}})}}

    {{ form_end(edit_form) }}
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="{{ asset('js/lib/common.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script>
        common().initPopover();
        common().dataTable(0);
        common().date();
        common().readOnly();
        $("form").validate();
        common().validation();
    </script>

{% endblock %}
