{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Suivi {% endblock %}


{% block body %}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Employés</div>
    <div>
        <a href="{{ path('taf_informations') }}">
            <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
        </a>
    </div>
    <br />
    <div class="result" data-route="employe_search">
        {% if entities is not empty %}
            <table class="table table-bordered table-hover dataTable">
                <thead>
                <tr>
                    <th style="text-align: center">Nom</th>
                    <th style="text-align: center">Prénom</th>
                    <th style="text-align: center">Service</th>
                    <th style="text-align: center">Poste</th>
                    <th style="text-align: center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    {% if entity.del == 1 %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr class="danger">
                                <td style="text-align: center">{{ entity.nom }}</td>
                                <td style="text-align: center">{{ entity.prenom }}</td>
                                <td style="text-align: center">{{ entity.services }}</td>
                                <td style="text-align: center">{{ entity.poste }}</td>
                                <td style="text-align: center">
                                    <a href="{{ path('suvi_show', {'idEmploye' : entity.id}) }}">
                                        <i title="Voir" class="fa fa-eye fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td style="text-align: center">{{ entity.nom }}</td>
                            <td style="text-align: center">{{ entity.prenom }}</td>
                            <td style="text-align: center">{{ entity.services }}</td>
                            <td style="text-align: center">{{ entity.poste }}</td>
                            <td style="text-align: center">
                                <a href="{{ path('suvi_show', {'idEmploye' : entity.id}) }}">
                                    <i title="Voir" class="fa fa-eye fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-ban fa-5x"></i><br>
                Aucun Employé trouvé
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
    <script>
        common().dataTable(0);
    </script>
{% endblock %}