{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Contrats mécaniques {% endblock %}


{% block body -%}
    {#{% include '::common/employe.html.twig' %}#}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Contrats de type Mécanique</div>
    <div class="row">
        <div class="col-md-6">
            {#<i class="fa fa-plus-square fa-3x" data-toggle="modal"#}
               {#data-target="#modalForm" title="Ajouter" style="color:#0FAD8C;cursor: pointer;margin-left: 3%"></i>#}
        </div>
        <div class="col-md-6">
            {% include '::common/search.html.twig' %}
        </div>
    </div><br />

    <div class="result" data-route="depense_search">
        {% if entities is not empty %}
            {% for entity in entities %}
                <div class="col-md-4">
                    <div class="panel panel-back noti-box ">
                        <a href="{{ path('type_depense', {'id' : entity.id}) }}">
                            {% if entity.del == 1 %}
                                <i style="color:red;font-size: 100px;" class="fa fa-times-circle fa-5x"></i>
                            {% else %}
                                <img class="bg-hover" style="border-radius: 100px;" src="
                                    {% if not entity.logoFileName %}
                                        {{ asset('files/entreprise/logo/logo_default.jpg') }}
                                    {% else %}
                                        {{ app.request.basePath }}{{ vich_uploader_asset(entity, 'logoFile') }}
                                    {% endif %}
                                    " width="100" height="100" title="{{ entity.nom }}">
                            {% endif %}
                        </a>
                        <span style="margin-left:2%;font-size: 25px;"><b>{{ entity.nom|upper }}</b></span>
                        <div class="text-box">
                            <p style="font-size: 20px; font-family: monospace" class="main-text">
                                <span class="label label-primary">{{ entity.typeContratEts|upper }}</span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-file-text-o fa-5x"></i><br>
                Aucun Contrat
            </div>
        {% endif %}
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
{% endblock %}
