{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Fiches de Paie {{ employe.nom }}  {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />#}
{#{% endblock %}#}

{% block body -%}
    {#{% include '::common/employe.html.twig' %}#}
    <div class="alert alert-info" role="alert" style="font-size: 18px">{{ 'employe.fiche_de_paie.liste'|trans({'%employe%' : employe}, 'employe')}}</div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('employe_show', {'id' : employe.id} ) }}">
                <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
            </a>
            <i class="fa fa-plus-square fa-3x" data-toggle="modal"
               data-target="#modalForm" title="Ajouter" style="color:#0FAD8C;cursor: pointer;margin-left: 3%"></i>
        </div>
        <div class="col-md-6">
            {#{% include '::common/search.html.twig' %}#}
            <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', '{{ 'employe.fiche_de_paie.print_list'|trans({'%employe%' : employe}, 'employe')}}')" style="float: right; cursor: pointer; margin-right: 2%"></i>
        </div>
    </div><br />

    <div class="result" data-route="employe_search">
        {% if entities is not empty %}
            <table class=" table table-hover table-bordered dataTable print">
                <thead>
                <tr>
                    <th style="text-align: center">Période</th>
                    <th style="text-align: center">Observations</th>
                    <th style="text-align: center">Recommandations</th>
                    <th style="text-align: center">Justificatifs</th>
                    <th class="noprint" style="text-align: center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td style="text-align: center">{{ entity.periode }}</td>
                        <td style="text-align: center">{{ entity.observation }}</td>
                        <td style="text-align: center">{{ entity.recommandation }}</td>
                        <td style="text-align: center">
                            {% if not entity.fichedepaieFileName %}
                                <span class="label label-danger">Non renseigné</span>
                            {% else %}
                                <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'fichedepaieFile') }}">
                                    <i style="color: darkred;" class="fa fa-file-text fa-2x"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="noprint" style="text-align: center">
                            {% if employe.contrat|length > 0 %}
                                <a href="{{ path('fichedepaie_print', {'id' : entity.id, 'idEmploye' : employe.id}) }}">
                                    <i class="fa fa-eye fa-2x"></i>
                                </a>
                            {% else %}
                                <span class="label label-danger">Pas de contrat</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-ban fa-5x"></i><br>
                Aucune Fiche de Paie pour cette employé
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enregistrement d'une fiche de paie</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_errors(form) }}
                    {{ form_label(form.periode) }}
                    <div class="form-group">
                        <div class='input-group date periodepicker' id="checkDate" data-employe="{{ employe.id }}">
                            {{ form_widget(form.periode) }}
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <span class="error_date" style="display: none; color: red">Cette periode existe déja pour cet employé</span>
                    </div>
                    {{ form_row(form.observation) }}
                    {{ form_row(form.recommandation) }}
                    <select style="display: none" id="janettransit_adminbundle_fichedepaie_employe" name="janettransit_adminbundle_fichedepaie[employe]" class="form-control">
                        <option value="{{ employe.id }}"></option>
                    </select>

                    <div id="remove">
                        {{ form_row(form.fichedepaieFile) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        {{ form_widget(form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register'}})}}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script>
        {% if success == 'true' %}
        common().notice('Enregistrement avec succès','ok');
        {% endif %}
        common().periode();
        common().dataTable(0);
        $("form").validate();
        common().validation();
        $(".file").rules("add", { filesize: 2 });
        $("input[type='hidden']").prev().remove();
        $('#remove').remove();
    </script>
{% endblock %}
