{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Mouvements {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />#}
    {#<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')}}" />#}
{#{% endblock %}#}

{% block body -%}
    {#{% include '::common/employe.html.twig' %}#}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Mouvements du Stock <b>{{  stock.materiel|upper }}</b> de la journée du <b>{{  periodeStock.datePeriode }}</b></div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('periodestock_informations', {'idStock' : stock.id, 'idTypeStock' : typeStock.id} ) }}">
                <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
            </a>
            <i class="fa fa-plus-square fa-3x" data-toggle="modal"
               data-target="#modalForm" title="Ajouter" style="color:#0FAD8C;cursor: pointer;margin-left: 3%"></i>
        </div>
        <div class="col-md-6">
            {% if entities is not empty %}
                <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', 'Liste des Mouvements du {{  stock.materiel|upper }} du {{ periodeStock.datePeriode }}')" style="float: right; cursor: pointer; margin-right: 2%"></i>
            {% endif %}
        </div>
    </div><br />

    <div class="result" data-route="employe_search">
        {% if entities is not empty %}
            <table class=" table table-hover table-bordered dataTable print">
                <thead>
                <tr>
                    <th style="text-align: center">Employé</th>
                    <th style="text-align: center">Mouvement</th>
                    <th style="text-align: center">Motif</th>
                    <th style="text-align: center">Heure</th>
                    <th style="text-align: center">Quantité</th>
                    <th style="text-align: center">Justificatif</th>
                    <th class="noprint" style="text-align: center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr {% if entity.del == 1 %} class="danger" {% endif %}>
                        <td style="text-align: center">{{ entity.employe }}</td>
                        <td style="text-align: center">{{ entity.type }}</td>
                        <td style="text-align: center">{{ entity.motif }}</td>
                        <td style="text-align: center">{{ entity.heureMouvement }}</td>
                        <td style="text-align: center">{{ entity.qte }}</td>
                        <td style="text-align: center">
                            {% if not entity.stockFileName %}
                                <span class="label label-danger">Non renseigné</span>
                            {% else %}
                                <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'stockFile') }}">
                                    <i style="color: darkred;" class="fa fa-file-text fa-2x"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="noprint" style="text-align: center">
                            <a href="{{ path('mouvementstock_edit', {'id' : entity.id, 'idPeriode' : periodeStock.id, 'idStock' : stock.id , 'idTypeStock' : typeStock.id}) }}">
                                <i title="Modifier" style="color: orange; cursor: pointer; margin-left: 6%" class="fa fa-pencil fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row" style="text-align: center; font-size: 30px">
                <i class="fa fa-male fa-5x"></i><br>
                Aucun Mouvement
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enregistrement d'un Mouvement</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_errors(form) }}
                    {{ form_row(form.employe) }}
                    {{ form_label(form.heureMouvement) }}
                    <div class="form-group">
                        <div class='input-group date hourpicker' id="checkDate" >
                            {{ form_widget(form.heureMouvement) }}
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </div>
                    </div>
                    {{ form_row(form.type) }}
                    {{ form_row(form.qte) }}
                    {{ form_row(form.motif) }}
                    {{ form_row(form.stockFile) }}


                    <select style="display: none" id="janettransit_adminbundle_mouvementstock_periodeStock" name="janettransit_adminbundle_mouvementstock[periodeStock]" class="form-control">
                        <option value="{{ periodeStock.id }}"></option>
                    </select>
                    <select style="display: none" id="stock" name="stock" class="form-control">
                        <option value="{{ stock.id}}"></option>
                    </select>
                    <select style="display: none" id="typeStock" name="typeStock" class="form-control">
                        <option value="{{ typeStock.id}}"></option>
                    </select>

                    <div id="remove">
                        {{ form_row(form.periodeStock) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        {{ form_widget(form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register'}})}}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/lib/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')}}"></script>
    <script>
        common().dataTable(3);
        common().heure();
        $('.multiselectOne').multiselect({
            enableFiltering : true,
            nonSelectedText : 'Aucun Choix',
        });
        $("form").validate();
        common().validation();
        $(".file").rules("add", { filesize: 2 });

        $(".modal-body .btn-group").css({'width' : '80%', 'margin-left' : '5%','margin-bottom': '2%'});
        $('#remove').remove();
    </script>
{% endblock %}
